@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.logo {
  width: 40px;
  height: 40px;
  margin: -5px 5px 0 0;
}

textarea {
  resize: none;
}

.nav-item a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  border-color: rgba(0, 128, 0, 0.315) !important;
}

.active {
  cursor: default;
}

.search input,
.search select,
.search button {
  font-size: 0.9rem;
}

.button-set button {
  font-size: 0.9rem;
  width: 100px;
}

th {
  font-size: 0.9rem;
}

td {
  font-size: 0.8rem;
}

/* //////////// */
.flex-container {
  /* display: flex;
  gap: 20px;
  padding: 0 15px;
  flex-wrap: wrap; */
}

.flex-item {
  flex: 1;
  min-width: 300px;
  display: flex;
}

.total-section {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.payment-section {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-top: auto;
}

.item-select-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-select-content {
  flex: 1;
}

.item-select-button {
  margin-top: auto;
}

.table thead th {
  background-color: #28a745;
  color: white;
}

.btn-success {
  width: 100%;
}

.table-section {
  padding: 0 15px;
}

@media (max-width: 992px) {
  .flex-item {
    flex: 100%;
  }
}
